---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Hero from "../components/Hero.astro";
import Experience from "./experience.astro";
import Projects from "./Projects.astro";
import Contact from "./contact.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <Hero
      name="Wahiduz Zaman Alam"
      title="Software Engineer"
      email="wahiduzalam@gmail.com"
      location="Assam, India"
      img="../me.png"
    />

    <main>
      <div class="section-end"></div>
      <div id="about" class="about-context">
        <div>
          Hello, I'm <span class="highlight">Wahid Alam</span>.
        </div>
        <div>
          <p>
            I am a software engineer with a strong focus on frontend development
            and product experience. Over the years, I’ve worked on building
            responsive, clean, and user-friendly web applications using HTML,
            CSS, JavaScript, and modern frameworks like React.js, Next.js, and
            Astro.<br />
          </p>
          <p>
            I’ve also taken on responsibilities beyond development including
            product management, shaping feature workflows, and improving user
            journeys. I enjoy transforming ideas into real, functional
            experiences and making sure the product is both effective and easy
            to use.<br />
          </p>
          <p>
            Along the way, I’ve created GIFs, explainer videos, and visual
            content to demonstrate product workflows and simplify complex
            concepts for users and teams.<br />
          </p>
          <p>
            I love building intuitive interfaces, optimizing performance, and
            continuously learning new tools and techniques to create better
            digital experiences.<br />
          </p>
        </div>
        <div class="section-end"></div>
        <div>
          <Experience />
        </div>
        <div class="section-end"></div>
        <section>
          <div>
            <Projects />
          </div>
        </section>
        <div class="section-end"></div>
        <section>
          <div>
            <Contact />
          </div>
        </section>
      </div>
      <div>
      <Footer />
      </div>
    </main>
  </body>
</html>
